<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EmainScanningSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>com.malleswari.AddKeywordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/addKeyword</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>up</servlet-name>
  	<servlet-class>com.malleswari.UpdateKeywordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>up</servlet-name>
  	<url-pattern>/updateKeyword</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>del</servlet-name>
  	<servlet-class>com.malleswari.DeleteKeywordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>del</servlet-name>
  	<url-pattern>/deleteKeyword</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>view</servlet-name>
  	<servlet-class>com.malleswari.ViewKeywordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>view</servlet-name>
  	<url-pattern>/viewKeywords</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>scan</servlet-name>
  	<servlet-class>com.malleswari.ScanEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>scan</servlet-name>
  	<url-pattern>/scanEmail</url-pattern>
  </servlet-mapping>
</web-app>